DOCKER_BASE=http://10.0.0.1:2375
LOG_FILE_PATH=/var/log/dockerbox-broker.log
SOCKET_PATH=/var/run/dockerbox-broker.sock
MAX_RETRIES=1
KEEPALIVE_IDLE=30
KEEPALIVE_INTERVAL=5
KEEPALIVE_COUNT=1
CONNECT_TIMEOUT=1
